#apresentacao {
    color: rgb(255, 255, 255);
    text-align: center;
}

#apresentacao h1 {
    font-size: 3em;
    font-weight: 900;
}

#apresentacao p {
    padding: 5px 10px;
}

@media screen and (min-width: 768px) {
    #apresentacao h1 {
        font-size: 4em;
        
    }
}

#fundo {
    display: flex;
    flex-direction: column;
    background-size: auto;
}


#minhasSkills #blocosProjetos .col-md-4 img {
    background-color: #000;
    border-radius: 10px;

}

#minhasSkills #blocosProjetos .col-md-4 img:hover {
    box-shadow: 2px 2px 2px #000;
}

#minhasSkills #blocosProjetos .logoMaior {
    margin-top: 20px;
}  


#minhasSkills #blocosProjetos .textoProjetos {
    margin-top: 20px;
}

#minhasSkills #blocosProjetos .col-12 p {
    background-color: #000;

    color: #fff;

    padding: 15px;

    border-radius: 10px;
}

#minhasSkills #tituloProjetos {
    color: #fff;

    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

#minhasSkills #tituloProjetos h3 {
    text-transform: uppercase;

    font-size: 2em;
}

@media screen and (min-width: 768px) {
    #minhasSkills #blocosProjetos .logoMaior {
        margin-top: 0;
    }  
}

body {
    font-family: 'Roboto', sans-serif;
}


p {
    font-size: 1.2em;
}

a {
    text-decoration: none;  

    color: #fff;

    transition: 0.3s;
}

.texto-justificado {
    text-align: justify;
}

.texto-centralizado {
    text-align: center;
}

.margin-secao {
    margin-top: 3em;
    margin-bottom: 3em;
}

.padding-secao {
    padding-top: 3em;
    padding-bottom: 3em;
}

.bg-color-default {
    background-color: rgb(18, 18, 18);
}

.bg-color-secondary {
    background-color: rgb(28, 28, 28);
}

.bg-color-tertiary {
    background-color: rgb(30, 30, 30);
}

.bg-color-light {
    background-color: #f7f0f0;
}

#rodape h4 {
    color: #fff;
    
    margin-bottom: 1em;

    text-align: center;
}

#rodape p,
#rodape hr {
    color: rgb(255, 255, 255);
    text-align: center;
}

#rodape {
    padding-bottom: 1em;
}

#rodape .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#rodape a:hover {
    color: var(--pretoPadrao);
}

.contatoRodape {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.iconesContato i {
    font-size: 25px;
}

.iconesContato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fraseMotivacional {
    margin-top: 2em;
    font-size: 1em;
}

@media screen and (min-width: 450px) {
    .contatoRodape {
        width: 60%;

    }
}
@media screen and (min-width: 768px) {
    .fraseMotivacional {
        text-align: center;
    }
}